<h1>Demo#Hello</h1>
<p>Hello world!</p>

<%= 1+1 %>

<br />

<% target = "world" %>
<%= "Hello #{target}" %>

<% @array.each do |n| %>
<%= n %><br />
<% end %>

<br />

<a href="/demo/index">Hello page 1</a><br />
<%= link_to('Hello page 2', {:action => 'index'}) %>

<br>
ID: <%= params[:id] %><br>
ID: <%= @id %><br>
Next Page: <%= @page.to_i + 1 %><br>

<hr>
<%= params.inspect %>