<h1>​Hello from Rails!​</h1>​
<p>​It is now <%= @time %></p>​
<p>​It is now <%= @addition %></p>​
<p>​It is now <%= @concatenation %></p>​
<p>​It is now <%= @hourFrom %></p>​
<p>​It is now <%= @files %></p>​
<p>Time to say <%= link_to "Goodbye", say_goodbye_path %>  </p>